FLASK_APP=guests_app
FLASK_DEBUG=1

POSTGRES_USER = my_user
POSTGRES_PASSWORD = my_password_!@
 # для запуска только docker-compose.local.postgres
POSTGRES_HOST = localhost
 # для запуска всего проекта указать имя сервиса с postgres
# POSTGRES_HOST = postgres
POSTGRES_PORT = 5432
POSTGRES_DB = testdb

SQLALCHEMY_DATABASE_URI=sqlite:///db.sqlite3
SECRET_KEY=SECRET KEY
EMAIL_DOMAIN=dom.com
FLASK_ADMIN_SWATCH=flatly
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@admin.admin
ADMIN_PASSWORD=admin
MIGRATIONS_DIR=guests_app/migrations
