<table>
    <tbody>
        <tr>
            <td>{{ guest.guest_surname }} {{ guest.guest_first_name }} {{ guest.guest_patronymic }}</td>
            <td>{{ guest.company_name }}</td>
            <td>{{ guest.inviter_surname }} {{ guest.inviter_first_name }} {{ guest.inviter_patronymic }}</td>
            <td>
                {% if guest.approved == None %}
                    <span class="text-warning fw-bold">На расcмотрении</span>
                {% elif guest.approved %}
                    <span class="text-success fw-bold">Одобрено</span>
                {% else %}
                    <span class="text-danger fw-bold">Отклонено</span>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>