<header>
    <div class="header-content">
        <h1>Система учета посетителей завода</h1>
        <nav>
            <ul>
                <li>
                    <a 
                        href="{{ url_for('index_view') }}" 
                        class="{% if request.path == url_for('index_view') %}active{% endif %}"
                    >
                        Список гостей
                    </a>
                </li>
                <li>
                    <a
                        href="{{ url_for('request_form_view') }}"
                        class="{% if request.path == url_for('request_form_view') %}active{% endif %}"
                    >
                        Подать заявку
                    </a>
                </li>
                <li><a href="{{ url_for('approval_view') }}">Одобрение заявок</a></li>
                {% if current_user.is_authenticated %}
                    {% if current_user.is_admin %}
                        <li><a href="{{ url_for('admin.index') }}">Админ панель</a></li>
                    {% endif %}
                    <li>
                        <a href="{{ url_for('logout_view') }}">Выход</a>
                    </li>
                {% else %}
                    <li>
                        <a
                            href="{{ url_for('login_view') }}"
                            class="{% if request.path == url_for('login_view') %}active{% endif %}"
                        >
                            Вход
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <svg class="logo" viewBox="0 0 150 150">
        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" 
              font-size="60" font-weight="bold" font-family="Arial" fill="#ecf0f1">
            БСХ
        </text>
    </svg>
    <!-- <img src="static/img/logo.png" class="logo" alt="Логотип завода"> -->
</header>