{% extends "base.html" %}
{% block title %}Регистрация{% endblock title %}
{% block content %}

<main>
    <section class="login-form">
        <h2>Регистрация</h2>

        <form method="POST" novalidate>
            {{ form.csrf_token }}

            <div class="form-group">
                {{ form.username }}
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.email }}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.password }}
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.confirm_password }}
                {% if form.confirm_password.errors %}
                    {% for error in form.confirm_password.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-actions">
                {{ form.submit }}
                <!-- <button type="reset" class="btn secondary small">Сбросить форму</button> -->
            </div>
        </form>

    </section>

</main>

{% endblock content %}