{% extends "base.html" %}
{% block title %}Редактирование заявки{% endblock title %}
{% block content %}
<main>
    <section class="request-form request-form-width">
        <h2>Редактирование заявки</h2>

        {% if current_user.is_authenticated %}
            {% if current_user.username == creator_username %}
                {% include "includes/request_form_edit.html" %}
            {% else %}
                <div class="access-denied">
                    <p>У вас нет прав на редактирование этой заявки.</p>
                </div>
            {% endif %}
        {% else %}
            <div class="login-required">
                <p>Для редактирования заявки необходимо
                    <a href="{{ url_for('login_view') }}">
                        войти в систему.
                    </a>
                </p>
            </div>
        {% endif %}
    </section>
</main>
{% endblock content %}